html{
    font-size:10px !important;
}
p{
    margin:0;
    padding:0;
}
link{
    display:block !important;
}
body{
    padding:0;
    margin:0;
    background:#dedede;
    font-size:10px;
}

.title{
    height:6rem;
    line-height:6rem;
    font-size:3rem;

}