html{
    font-size:10px !important;
}
p,ul{
    margin:0;
    padding:0;
}
ul{
    list-style:none;
}

link{
    display:block !important;
}
body{
    padding:1rem 1rem 0;
    height:100%;
    margin:0;
    font-family: "Microsoft Yahei", Arial, Verdana, sans-serif; ;
    background:-webkit-linear-gradient(left,#7EC0EE,#00CD00);
    font-size:10px;
    overflow:hidden;
}

.title{
    height:6rem;
    line-height:6rem;
    font-size:3rem;

}